body {
  margin: 0;
  padding: 20px;
  font-family: $font-family-sans-serif;
  background-color: $cv-bg;
  color: $cv-corporate;
}


.fas {
  margin-right: 15px;
}


* {
  box-sizing: border-box;
}




/*-------------------------------------*/
/*--------------#HEADER----------------*/
/*-------------------------------------*/

header {
  background-color: $cv-header;

  address {
    margin-left: 50px;
    float: left;
  }
}

.cv-logo {
  float: right;
  margin-bottom: 20px;
  width: 20%;
  height: auto;
}

.cv-title {
  font-family: $font-family-serif;
  font-size: 36px;
  font-weight: 700;
  color: $cv-corporate;
  text-align: center;
  padding-top: 30px;
}

.cv-nav {
  clear: both;
  float: left;
  width: 20%;
  padding-top: 10px;
}

.cv-nav__ul {
  li {
    list-style-type: none;
    padding-bottom: 20px;

    a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
    }

    a:hover {
      background-color: $cv-secondcolor;
      color: white;
    }
  }
}




/*-------------------------------------*/
/*--------------#MAIN------------------*/
/*-------------------------------------*/

main {
  border-top: 3px solid $cv-secondcolor;
  float: left;
  width: 80%;
  padding: 0 10px; }


.formacion__table,
.experiencia__table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $cv-secondcolor;
    color: white;

  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  tbody {
    tr:nth-child(even) {
      background-color: $table-even;
    }
  }
}


.otros__ul {
  li {
    padding-bottom: 10px;
  }
}

/*-------------------------------------*/
/*--------------#FOOTER----------------*/
/*-------------------------------------*/

footer {
  clear: both;
  background-color: $cv-secondcolor;
  @include border-radius(20px);
  color: #fff;
  height: 100px;

  p {
    text-align: center;
    padding-top: 10px;
  }
}




/*-----------RESPONSIVENESS---------------*/
@media only screen and (max-width:620px) {

  /* For mobile phones: */
  .cv-nav,
  .main,
  footer {
    width: 100%;
  }

  .cv-logo {
    width: 30%;
    height: auto;
  }

}
